* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #F4D04E;

    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #ffffff;
    --preview-card-text-bold-size1: 24px;
    --preview-card-text-bold-size2: 14px;
    --preview-card-text-medium-size1: 16px;
    --preview-card-text-medium-size2: 14px;

    --font-family: 'Figtree';
}

@font-face {
    font-family: var(--font-family);
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}
body {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog-preview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #111111;
    background-color: var(--white);
    padding: 24px;
    width: min(327px, 90vw);
    box-shadow: 8px 8px 0 #000000;
}

.blog-preview-card__image {
    width: 100%;
}
.blog-preview-card__image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.blog-preview-card__text {
    margin: 24px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.blog-preview-card__category {
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px;
    color: var(--gray-950);
    font-family: var(--font-family), sans-serif;
    font-size: 12px;
    font-weight: 800;
}

.blog-preview-card__date {
    font-family: var(--font-family), sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-950);
}

.blog-preview-card__title {
    font-family: var(--font-family), sans-serif;
    font-size: 20px;
    color: var(--gray-950);
    font-weight: 800;
}

.blog-preview-card__description {
    font-family: var(--font-family), sans-serif;
    font-size: 14px;
    color: var(--gray-500);
    line-height: 150%;
    font-weight: 500;

}

.blog-preview-card__author {
    display: flex;
    gap: 12px;
    font-size: 14px;
    font-weight: 800;
    align-items: center;
    font-family: var(--font-family), sans-serif;
    color: var(--gray-950);
}
.blog-preview-card__author  img {
    display: block;
    max-width: 32px;
    max-height: 32px;
}

@media (min-width: 768px) {
    .blog-preview-card {
        width: 384px;
    }

    .blog-preview-card__category {
        font-size: 14px;
    }

    .blog-preview-card__date {
        font-size: 14px;
    }

    .blog-preview-card__title {
        font-size: 24px;
    }

    .blog-preview-card__title:hover {
        color: #F4D04E;
        cursor: pointer;
    }

    .blog-preview-card__description {
        font-size: 16px;
    }

    .blog-preview-card__author {
        font-size: 14px;
    }
}